header {
  background-color: rgb(254, 241, 176);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coinCost {
  margin-right: 10px;
}
.btn-bag {
  padding: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(109, 241, 178);
}
h1 {
  text-align: center;
}
table {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 2px solid #000;

}
table thead {
  background-color: #F2A490;
}

table tbody tr:nth-child(even) {
  background-color: #B9D4DB;
}

th {
  padding: 10px;
  border: 2px solid #000;
}
.btn {
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover{
  cursor: pointer;
  background-color: #F2A490;
}